# Python binaries
*pyc
*.mid*

.ipynb_checkpoints/

# Random Mac Temp Files
*~
*.DS_Store

parameter_checkpoints/checkpoint
parameter_checkpoints/*ckpt*
parameter_checkpoints/*h5
parameter_checkpoints/*json

data/

*txt
